body{
    background-size: cover;
}

.heading
{
font-size: 20px;
}

button
{
    font-size: medium;
    
}

canvas{
    border-color: black;
    border-radius:3%;
    position: fixed;
    size: 600, 300;
}

.start_game{
    size: 30px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: black;
  text-align: center;
}
